@model IEnumerable<Restauracja_MVC.Models.Recipes.RecipesListItem>

@{
    ViewData["Title"] = "Panel administratora - przepisy";
}

<h1>Panel administratora - przepisy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredientlist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MealID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @foreach(var ingredient in item.Ingredientlist)
                {
                    @ingredient.ToString()
                    <br>
                }

            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.MealID })
            </td>
        </tr>
}
    </tbody>
</table>
