@model Restauracja_MVC.ViewModels.zamowienieViewModel

@{
    ViewData["Title"] = "NoweMenu";
}

<h1>Menu</h1>

@using (Html.BeginForm("Index", "OrdersSelected", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nazwa dania
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Ilość sztuk
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.listaZamowien.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(b => b.listaZamowien[i].IDx, new { @class = "IDx" })
                        @Html.DisplayFor(modelItem => modelItem.listaZamowien[i].NameOfMeal)
                        @Html.HiddenFor(b => b.listaZamowien[i].NameOfMeal, new { @class = "Namex" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.listaZamowien[i].Descriptionx)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.listaZamowien[i].Pricex) zł
                        @Html.HiddenFor(b => b.listaZamowien[i].Pricex, new { @class = "Pricex" })
                    </td>
                    <td>
                        @Html.HiddenFor(b => b.listaZamowien[i].Categoryx, new { @class = "Categoryx" })
                        @Html.HiddenFor(b => b.listaZamowien[i].Descriptionx, new { @class = "Descriptionx" })
                        <select required asp-for="@Model.listaZamowien[i].Amountx" class="form-control" style="max-width: 75px">
                            <option value="0" selected> 0 </option>
                            @for (int j = 1; j < 254; j++)
                                {
                                    <option value="@j"> @j </option>
                                }
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <h3> Podaj dane do zamówienia </h3>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imie*
                </th>
                <th>
                    Nazwisko*
                </th>
                <th>
                    Miasto*
                </th>
                <th>
                    Adres*
                </th>
                <th>
                    Numer telefonu*
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <div class="form-group" title="Wprowadz imie">
                        <input asp-for="@Model.NameOfUser" class="form-control">
                        <span asp-validation-for="@Model.NameOfUser" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group" title="Wprowadz nazwisko">
                        <input asp-for="@Model.SurnameOfUser" class="form-control">
                        <span asp-validation-for="@Model.SurnameOfUser" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select asp-for="@Model.CityIDx" asp-items="Model.CityList" class="form-control"></select>
                        <span asp-validation-for="@Model.CityIDx" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group" title="Wprowadz adres">
                        <input asp-for="@Model.Addressx" class="form-control">
                        <span asp-validation-for="@Model.Addressx" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group" title="Wprowadz numer telefonu bez numeru kierunkowego">
                        <input asp-for="@Model.Phonex" class="form-control">
                        <span asp-validation-for="@Model.Phonex" class="text-danger"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <span>Do zamówienia poniżej 25 złotych doliczana jest opłata za dostawę w wysokości 10 złotych</span> 

    <br/>
    <br/>

    <input type="submit" value="Zamów" class="btn btn-dark" />
}